@plugin "@tailwindcss/typography";

@layer base {
  /* ===== Override default Tailwind Typography styles ===== */
  .app-prose {
    @apply prose;

    h1,
    h2,
    h3,
    h4,
    th {
      @apply text-foreground mb-3;
    }

    h3 {
      @apply italic;
    }

    p,
    strong,
    ol,
    ul,
    figcaption,
    table {
      @apply text-foreground;
    }

    a {
      @apply text-foreground hover:text-accent wrap-break-word decoration-dashed underline-offset-4 focus-visible:no-underline;
    }

    ul {
      @apply overflow-x-clip;
    }

    li {
      @apply marker:text-accent;
    }

    hr {
      @apply border-border;
    }

    img {
      @apply border-border mx-auto border;
    }

    img[role="button"] {
      @apply cursor-zoom-in;

      &:focus-visible {
        @apply outline-2 outline-offset-2 outline-dashed;
      }
    }

    figcaption {
      @apply opacity-75;
    }

    table {
      th,
      td {
        @apply border-border border p-2;
      }

      th {
        @apply py-1.5;
      }
    }

    :not(pre) > code {
      @apply bg-muted/75 text-foreground rounded p-1 font-mono wrap-break-word before:content-none after:content-none;
    }

    blockquote {
      @apply border-s-accent/80 wrap-break-word opacity-80;
    }

    details:not(.callout) {
      @apply text-foreground inline-block cursor-pointer select-none [&_p]:hidden [&_ul]:my-0!;
    }

    summary {
      @apply focus-visible:outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-dashed;
    }

    pre {
      @apply focus-visible:outline-accent focus-visible:border-transparent focus-visible:outline-2 focus-visible:outline-dashed;
    }
  }
}

.app-prose .expressive-code pre > code {
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings:
    "calt" 1,
    "liga" 1,
    "cv01" 1,
    "cv02" 1,
    "cv33" 1,
    "cv34" 1,
    "cv35" 1,
    "cv36" 1,
    "cv61" 1,
    "cv62" 1,
    "ss05" 1,
    "ss06" 1,
    "ss07" 1,
    "ss08" 1;
}
